
::selection{
    color: red;
    background-color: yellow;
    }
#F-tabelle{
    width: 100%;
    border: 1px solid #eee;
    max-width: 500px;
    border-collapse: collapse;
    margin: 0 auto;
}
#F-tabelle th{
    background-color: #218c74;
    color: #fff;
    text-align: left;
    padding: 10px;
    font-size: 21px;
}
#F-tabelle tr td{
    padding: 7px;
    border: 1px solid #eee;
    font-size: 12px;
}


#F-tabelle tr:nth-child(2n){
    background-color: #f2f2f2;
}
#F-tabelle a {
    color: blue;
    text-decoration: underline;
}
